---
# Only the main Sass file needs front matter (the dashes are enough)
---

header{
  background-color: red;

}
main{
  background-color: pink;
}
footer{
  background-color: green;
}
a{

  color:#444;
}
.wrapper {
  padding: 0 40px;
}
body{
  font-family: helvetica, sans-serif;
  background-color: #fefefe;
}
.site-title{
  float: left;
  margin: 0;
}
.site-nav{
  float: right;
}
.clear{
  clear: both;
}
.site-title a{
  text-decoration: none;
  color: #444;
}
.site-nav ul{
  padding: 0;
  margin: 0;
  list-style: none;
}
.site-nav ul li{
  display: inline-block;
}
.site-nav ul li a{
  display: block;
  padding: 4px 8px;
  text-decoration: none;
  color: #444;
  font-weight: 700;
}

body>header{
  padding:20px 0;
}
.posts{
  list-style: none;
  padding: 0;
}
.posts li a{
  text-decoration: none;
  color:#666;
}
.date{
  font-size: 60%;
  color: #888;
  float: right;
}
.posts li{
  border-bottom: 1px solid gray;
}
.posts li:last-child{
  border-bottom: 0;
}
.site-footer{
  color: #888;
  text-align: center;
  padding-top: 10px;
}
